section.full_screen_hero#top
  header.default_header
    a.mobile_nav_open(href="/open-mobile-navigation"): i.ion-navicon
    nav.header_navigation
      a.header_link(href="#introduction") About
      a.header_link(href="#issues") Issues
      a.header_link(href="#social") Social
      a.special_link(href="/sign-up-modal") Subscribe
      
  .logo_section
    a.main_logo(href="#top")
      img(src="/images/logos/main_hero_brand_logo.png")
      img(src="/images/logos/main_hero_brand_logo.png")
      img(src="/images/logos/main_hero_brand_logo.png")
    p.main_tagline The Amsterdam Post - A Travel Magazine
  
  .sign_up_cta_section
    a.hero_cta(href="/sign-up-modal") Subscribe Now
    
header.default_fixed_header
  .default_fixed_header_container
    a.fixed_header_logo(href="#top") AmsterdaM
    a.mobile_nav_open(href="/open-mobile-fixed-navigation"): i.ion-navicon
    nav.fixed_header_navigation
      a.header_link(href="#introduction") About
      a.header_link(href="#issues") Issues
      a.header_link(href="#social") Social
      a.special_link(href="/sign-up-modal") Subscribe
